.recovery{
    width: 100%;
    height: 100%;
    background-color: rgb(145, 143, 143);
    text-align: left;
}
.firstPart{
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(145, 143, 143);
}
.secondPart{
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(145, 143, 143);
}


table tr td span{
    display: block;
    width: 100px;
    height: 30px;
    background-color: white;
}
table tr td img{
    display: inline-block;
    width: 100px;
    height: 50px;
}
table tr td div{
    display: block;
    width: 100px;
    height: 30px;
    background-color: white;
}